<!DOCTYPE html>
<html>
{% extends "base.html" %}

{% block content %}
<head>
    <p>numeral4</p>
</head>
<body>
    <h1>actions</h1>
    {{  string  }}

    <h1>Hi, {{ current_user.username }}!</h1>


    </form>
    <!-- Link back to Account View: -->
    <p><a href="/accountview">View Accounts & Access Ledgers</a></p>
    <p><a href="/accountview">Balance Sheet #TODO</a></p>
    <p><a href="/addaccount">Add an Account</a></p>
    <p><a href="/delete_account">Delete an Account</a></p>
    <p><a href="/vca">Trend Stop</a></p>


</body>
</html>
{% endblock %}
