<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<html>
<head>
    <title>showing unposted transactions</title>
</head>
<body>
    <h1>unposted</h1>
    <h1>post engine</h1>
    <p>transactions : {{ items.date }} {{ items.payee_name }} {{ items.amount }} {{  items.type  }}  {{  items.cat_id }} {{  items.amount2 }} <form action="" method="post"> {{ form.hidden_tag() }}
            {{ form.type }}<br>
           
            {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
{% endblock %}
