<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html>
<head>
    <title>Reports Summary</title>
</head>
<body>
    <h1>Reports Summary</h1>
        <p><a href="{{ url_for('fy_expenses', username=current_user.username) }}">full year expenses (starting point for testing</a> </p>
        <form action="" method="post">
            <p> {{ report_period }} </p>
            {{ form.hidden_tag() }}
            <p>
                {{ form.report_period.label }}<br>
                {{ form.report_period }}<br>
                {% for error in form.report_period.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.report_template.label }}<br>
                {{ form.report_template }}<br>
                {% for error in form.report_template.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.total_by_cat.label }}<br>
                {{ form.total_by_cat }}<br>
                {% for error in form.total_by_cat.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        <hr>
    <p>{{ form.submit() }}</p>
        </form>
        {% for transaction in transactions %}
        <p> {{ transaction }} </p>            
        {% endfor %}
    
</body>
</html>
{% endblock %}


