<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<html>
<head>
    <title>transactions</title>
</head>
<body>
    <h1>transactions</h1>
      {% for item in items %}
        <p>transactions : {{ item.date }} {{ item.payee_name }} {{ item.amount }} {{  item.type  }}  {{  item.cat_id }} {{  item.amount2 }}</p>
        <hr>
      {% endfor %}
      <a href="{{ url_for('create_transaction', username=current_user.username) }}">create transactions</a>
    </form>
</body>
</html>
{% endblock %}
