<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<html>
<head>
    <style>
      h1 {text-align: left;}
      p {text-align: left;}
      div {text-align: left;}
    </style>
    <title>chart of accounts</title>
</head>
<body>
    <h1>accounts</h1>
      {% for item in items %}
        <p>account : <a href={{ url_for('account_register', username=current_user.username, id=item.id)}}> {{ item.acct_name }}</a> <div> type: {{ item.type }}</div>  account identifier:  {{ item.id  }}  <a href="{{ url_for('edit_account', username=current_user.username, id=item.id) }}">edit account information</a></p>
        <hr>
      {% endfor %}
      <a href="{{ url_for('create_account', username=current_user.username) }}">create account</a>
      <a href="{{ url_for('delete_account', username=current_user.username) }}">delete account</a>
    </form>
</body>
</html>
{% endblock %}
